.main-container { height: 50%; padding: 0px !important; margin: 0; top: 0px; }
.content-area { height: 100%; padding: 0px !important; margin: 0; }
.content-container {padding: 0px !important;}
div.chart { width: 48%; height: 45%; float: left; }
#chart1 { background: #DDD; margin: 10px;}
#chart2 { background: #AAA; margin: 10px;}
#chart3 { background: #777; margin: 10px;}
#chart4 { background: #444; margin: 10px; height: 320px; position: relative; max-height: 320px;}
