<div class="main-container">
    <header class="header-5">
        <div class="branding">
          <a href="..." class="nav-link">
              <clr-icon shape="vm-bug"></clr-icon>
              <span class="title">Prognostics and Health Management of Astronauts</span>
          </a>
        </div>
        <div class="header-nav">
            <a href="..." class="active nav-link"><span class="nav-text">Summary</span></a>
            <a href="..." class="nav-link"><span class="nav-text">Command Center</span></a>
            <a href="home/spaceship_center.html" class="nav-link"><span class="nav-text">Space-ship Center</span></a>
        </div>
        <div class="header-actions">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-text" clrDropdownToggle>
                    swathika@siemens.com
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </div>
            </clr-dropdown>
        </div>
    </header>

    <div class="content-container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/JohnHerrington.jpg" alt="John Herrington" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.

                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/leland_melvin.jpg" alt="Leland Melvin" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/SunithaWilliams.jpg" alt="Sunitha Williams" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/LaEstela.jpg" alt="La Estela" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Nicole_P_Stott.jpg" alt="Nicole P Stott" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Randy_Bresnik.jpg" alt="Randy Bresnik" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Scott.jpg" alt="Scott" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Charlie_Camarda.jpg" alt="Charlie Camarda" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Daniel_Burbank.jpg" alt="Daniel Burbank" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/KCThornton.jpg" alt="KC Thornton" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="..." class="card clickable">
                    <div class="card-img">
                        <img src="images/Steven_Nagel.jpg" alt="Steven Nagel" />
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            John Bennett Herrington is a retired United States Naval Aviator and former NASA astronaut. In 2002, Herrington became the first enrolled member of a Native American tribe to fly in space.
                            
                            Born: 14 September 1958 (age 58 years), Wetumka, Oklahoma, United States
                            Space missions: STS-113
                            Education: Plano Senior High School
                            First space flight: STS-113
                            Space agency: NASA
                            Rank: Commander, United States Navy
                        </p>
                    </div>
                </a>
            </div>
            
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="..." class="nav-link active">
                    Home
                </a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">PULSE Operations</label>
                    <ul class="nav-list">
                        <li><a class="nav-link" href="http://www.mars-one.com/mission/mars-one-astronauts">Dashboard</a></li>
                        <li><a class="nav-link" href="realtime">Real-Time Statistics</a></li>
                        <li><a class="nav-link" href="interactive">Interactive Analytics</a></li>
                        <li><a class="nav-link" href="history">Historical Data Analysis</a></li>
                        <li><a class="nav-link" href="barchart">barchart</a></li>
                    </ul>
                </section>
                
                
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Health Factors</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Respiration Rate</a></li>
                        <li><a class="nav-link">Heart Rate Monitor</a></li>
                        <li><a class="nav-link">Oxygen Saturation</a></li>
                        <li><a class="nav-link">Blood Pressure Monitor</a></li>
                        <li><a class="nav-link">Activity Monitor</a></li>
                        <li><a class="nav-link">Data Logger</a></li>
                        <li><a class="nav-link">Ambient Temperature</a></li>
                        <li><a class="nav-link">Step Count</a></li>
                        <li><a class="nav-link">Blood Glucose Monitor</a></li>
                        <li><a class="nav-link">Body Fat Percentage</a></li>
                        <li><a class="nav-link">Body Strength</a></li>
                        <li><a class="nav-link">Well-being Manager</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>